@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Poppins", sans-serif;
  color: white
}

.text-custom-color{
    background: linear-gradient(260.99deg, #1C99FE 6.95%, #7644FF 50.91%, #FD4766 90.83%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}


.custom-bullets {
  list-style: none;
  padding: 0;
  margin: 0;
}

.custom-bullets li {
  position: relative;
  padding-right: 25px; 
}

.custom-bullets li::before {
  content: "•";
  color: black;  
  position: absolute;
  right: 0; 
  font-size: 40px;
  line-height: 95px; 
}

.custom-bullets1 {
  list-style: none;
  padding: 0;
  margin: 0;
}

.custom-bullets1 li {
  position: relative;
  padding-right: 25px; 
}

.custom-bullets1 li::before {
  content: "•";
  color: white;
  position: absolute;
  right: 0; 
  font-size: 40px; 
  line-height: 95px; 
}

p{
  line-height: 0.01em;
}